<div class="video-call-container">
  <div class="video-controls">
<div>
  <h2>Your peer id is : {{ peerId }}</h2>
  <input [(ngModel)]="remotePeerId" placeholder="Enter remote peer ID" />
  <div class="button-group" style="margin-top: 1em; margin-right: 2em;">
  <button  (click)="startCall()">Peer Call</button>
  <button (click)="endCall()">End Peer Call</button>
  <button (click)="toggleMute()">{{ isMuted ? 'Unmute' : 'Mute' }}</button>
  <button (click)="toggleVideo()">{{ isVideoOff ? 'Turn Video On' : 'Turn Video Off' }}</button>
</div>
</div>

<div>
  <video #localVideo autoplay muted playsinline></video>
  <video #remoteVideo autoplay playsinline></video>
</div>

  </div>
</div>
